@font-face {
    font-family: "VK Sans";
    src: url("../Fonts/VK_Sans_DemiBold.otf") format("opentype");
}

body {
    font-family: "VK Sans"!important;
}

.btn {
    border-radius: 35px;
}

.btn-primary:hover {
    background: #343434;
}