@font-face {
    font-family: "VK Sans";
    src: url("../Fonts/VK_Sans_DemiBold.otf") format("opentype");
}

body {
    font-family: "VK Sans"!important;
    overflow-x: hidden;
}

.btn {
    border-radius: 35px;
}

.btn-primary:hover {
    background: #343434;
}

a {
    text-decoration: none!important;
}

.modal-content {
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

b {
    color: black;
}