.animation_progress_bar {
    width: 5%;
    animation: progressBarMore 1s normal forwards ease-in-out;
}

.progress {
    background: #eeecec !important;
}

.progress_bar_zero .progress-bar {
    color: black!important;
    text-align: center!important;
    width: 100%!important;
    background: none;
}

@keyframes progressBarMore {
    0% {
        width: 5%;
    }

    100% {
        width: 100%;
    }
}