@media(min-width:961px) {
    .link-header {
        position: relative;
        cursor: pointer
    }

    .link-header:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -3px;
        background: #fff;
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s
    }

    .link-header:not(:hover):after {
        -webkit-transform: scalex(0);
        transform: scalex(0)
    }

    .social-media {
        display: flex!important;
    }

    .link-header > .active:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -3px;
        background: #fff;
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s
    }
}

.social-media {
    display: none;
}

.navbar-toggler {
    border: none;
}