main {
    padding-top: 6%;
}
.containerTitle {
    text-align: center;
    position: relative;
}
.title {
    font-size: 64px;
    text-transform: uppercase;
}
.title > span {
    width: 100%;
    float: left;
    color: black;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 4s;
}
.title1 span {
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
}
.title1 span:first-child {
    animation-delay: 0.7s;
}
.title1 span:last-child {
    color: grey;
    animation-delay: 0.5s;
}
.title2 {
    top: 0;
    position: absolute;
}
.title2 span {
    animation-delay: 4.1s;
    -webkit-animation-fill-mode: forwards;
}
.title2 span:first-child {
    color: grey;
    animation-delay: 4.2s;
}
.title2 span:last-child {
    color: grey;
    animation-delay: 4s;
}
.nextTextContainer {
    animation-name: nextText;
    animation-timing-function: ease;
    animation-duration: 8.6s;
    animation-fill-mode: forwards;
    height: 0;
}

.nextTextContainer .btn-1 {
    border-radius: 35px;
    margin-right: 1.5%;
    width: 220px;
}

.nextTextContainer .btn-2 {
    border-radius: 35px;
    margin-left: 1.5%;
    width: 220px;
}

@media screen and (max-width: 768px) {
    .title > span {
        clip-path: none!important;
        -webkit-clip-path: none!important;
        animation-name: titleAnimationWithoutClipPath;
    }

    .nextTextContainer > h2 {
        font-size: 56px!important;
    }

    .nextTextContainer .btn-1 {
        width: 160px!important;
    }

    .nextTextContainer .btn-2 {
        width: 160px!important;
    }

    .title {
        font-size: 24px!important;
    }
}


@media screen and (max-width: 320px) {
    .nextTextContainer .btn-1 {
        width: 130px!important;
    }

    .nextTextContainer .btn-2 {
        width: 130px!important;
    }
}

@keyframes titleAnimationWithoutClipPath {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    20% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(50px);
        opacity: 0;
        display: none;
    }
}

@keyframes titleAnimation {
    0% {
        transform: translateY(-50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    20% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    80% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    100% {
        transform: translateY(50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
        clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
        display: none;
    }
}

@keyframes nextText {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}